.tituloHome{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 5rem;
    text-align: center;
}
.parrafoHome{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}